
 body
{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav
{
    list-style-type: none;
    margin-top: 22rem;
}

li
{
    display: inline;
    font-size: 1.5rem;
    padding: 1rem;
}

li a
{
    color: rgb(59, 164, 250);
    text-decoration: none;
}

img
{
    height: 10rem;
}

/*
    =====================
        Header Styling
    =====================
*/

header
{
    /* display: block; */
    margin: 0;
    padding-top: 20rem;
    color: white;
    height: 30rem;
    text-align: center;
    background-color: rgb(72, 72, 109);
}

#intro-name
{
    color: rgb(59, 164, 250);
}
/*
    =====================
        Project Styling
    =====================
*/

h3
{
    font-size: 2rem;
}

/*
    ====================
        Skills Styling
    ====================
*/


/*
    =====================
        Contact Styling
    =====================
*/


#github-logo
{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

#email-logo
{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

#twitter-logo
{
    width: 4rem;
    height: 4rem;
    background-color: rgb(72, 72, 109);
}