
 body
{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav
{
    list-style-type: none;
    margin-top: 22rem;
}

li
{
    display: inline;
    font-size: 1.5rem;
    padding: 1rem;
}

li a
{
    color: rgb(59, 164, 250);
    text-decoration: none;
}

/*
    =====================
        Header Styling
    =====================
*/

header
{
    /* display: block; */
    margin: 0;
    padding-top: 20rem;
    color: white;
    height: 26rem;
    text-align: center;
    background-color: rgb(72, 72, 109);
}

#intro-name
{
    color: rgb(59, 164, 250);
}
/*
    =====================
        Project Styling
    =====================
*/

#projects
{
    height: 33rem;
}

#projects-para
{
    display: inline;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;

}

img
{
    position: static;
    max-width: 30rem;
    margin-top: 3rem;
    padding: 0;
}

#github-rps
{
    margin-top: 2rem;
}

/*
    ====================
        Skills Styling
    ====================
*/

#skills
{
    height: 35rem;
    width: auto;
    padding-top: 2rem;
    background-color: rgb(228, 228, 228);
}

.column
{   float: left;
    width: 33.33%;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}

#front-end-skills
{
    float: left;
    width: 12rem;
}

#back-end-skills
{
    width: 12rem;
}

#misc-skills
{
    float: right;
    width: 12rem;
}
/*
    =====================
        About Styling
    =====================
*/

    #about
    {
        height: 25rem;
        padding: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
    }

/*
    =====================
        Contact Styling
    =====================
*/
    #contact
    {
        color: white;
        padding: 3rem;
        background-color: rgb(72, 72, 109);
    }

    #name-form
    {
        display: block;
    }

    #full-name
    {
        width: 15rem;
        height: 2rem;
    }


    #email
    {
        width: 15rem;
        height: 2rem;
    }

    #message
    {
        width: 15rem;
    }

    #submit
    {
        margin-top: 2rem;
    }
/*
#github-logo
{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

#email-logo
{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

#twitter-logo
{
    width: 4rem;
    height: 4rem;
    background-color: rgb(72, 72, 109);
} */