.top-nav
{
    display: block;
    color: white;
    background-color: turquoise;
    margin: 0;
    padding: 0;
    height: 1.75rem;
    word-spacing: 3rem;
    font-size: 1.5rem;
    /* overflow: hidden; */
}

a:active{
    color: white;
}

a{
    color: aliceblue;
    text-decoration: none;
}

 body
{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li
{
    font-size: 1.5rem;
    line-height: 5rem;
    list-style: none;
}

li a
{
    color: rgb(59, 164, 250);
    text-decoration: none;
}

.headings
{
    font-size: 1.5rem;
}
/*
    =====================
        Header Styling
    =====================
*/

header
{
    padding-top: 20rem;
    color: white;
    height: 30rem;
    text-align: center;
    background-color: rgb(72, 72, 109);
}

#header-div
{
    display: inline-block;
    padding: 2rem;
    border: 0.5rem solid white;
}

#intro-name
{
    color: rgb(59, 164, 250);
}
/*
    =====================
        Project Styling
    =====================
*/

#projects
{
    height: 45rem;
    color: white;
    background-color: rgb(72, 72, 109);
}

#projects-para
{
    display: inline;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;

}

#project-heading
{
    font-size: 1.5rem;
    padding-top: 2rem;
}

img
{
    /* position: static; */
    max-width: 30rem;
    margin-top: 3rem;
    padding: 0;
}

#github-rps
{
    margin-top: 2rem;
}

#rps-image
{
    margin-left: 3rem;
    margin-right: 2rem;
    /* position: relative; */
    float: left;
}

#rps-paragraph
{
    /* position: fixed; */
    /* float: right; */
    font-size: 1.25rem;
    line-height: 3rem;
}
/*
    ====================
        Skills Styling
    ====================
*/

#skills
{
    height: 35rem;
    width: auto;
    padding-top: 2rem;
    background-color: rgb(228, 228, 228);
}

.column
{   float: left;
    width: 33.33%;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 10rem)
{
    .column
    {
        width: 100%;
    }
}

/* #front-end-skills
{
  background-color: rgb(72, 72, 109);
}

#back-end-skills
{
   background-color: aqua;
}

#misc-skills
{
    background-color: brown;
} */
/*
    =====================
        About Styling
    =====================
*/

    #about-me
    {
        color: black;
        height: 23rem;
        padding: 1rem;
        line-height: 3rem;
        font-size: 1.75rem;
        /* background-color: rgb(72, 72, 109); */
    }

    /* .headings
    {
        text-align: right;
    } */
/*
    =====================
        Contact Styling
    =====================
*/
    #contact
    {
        height: 30rem;
        color: black;
        padding: 3rem;
        /* background-color: rgb(72, 72, 109); */
    }

    #name-form
    {
        display: block;
    }

    #full-name
    {
        width: 15rem;
        height: 2rem;
    }


    #email
    {
        width: 15rem;
        height: 2rem;
    }

    #message
    {
        width: 15rem;
    }

    #submit
    {
        color: white;
        border: 0.1rem solid white;
        font-size: 1.2rem;
        margin-top: 2rem;
        background-color: rgb(72, 72, 109);
    }

    /*
        =====================
            Footer Styling
        =====================
    */

    footer
    {
        height: 10rem;
        background-color: rgb(42, 42, 58);
    }

    footer span
    {
        color: white;
    }

    #logos
    {
        padding-bottom: 1rem;
    }

    #github-logo
    {
        width: 2rem;
        height: 2rem;
        background-color: rgb(42, 42, 58);
    }

    #linked-logo
    {
        width: 2rem;
        height: 2rem;
    }

    #twitter-logo
    {
        width: 2rem;
        height: 2rem;
    }

    #footer-span
    {
        color:rgb(59, 164, 250);
    }

    .headings
    {
        /* margin-bottom: 2rem; */
    }